.row {
    display: flex;

}

.square {
    cursor: pointer;
    height: 50px;
    width: 50px;
    border: solid black 1px;
    line-height: normal;
    display: flex;
    align-items: center;
    justify-content: center;
}

.plain {
    background-color: grey;
}